body {
  background-color: black;
}


h1 {
  text-align: center;
  font-family: "Sergoe Ui", Verdana, sans-serif;
  background-image: url(./img/Records.jpg);
  font-size: 100px;
  font-style: bold;
  color: white;
}


h2 {
  text-align: center;
  font-family: "Sergoe Ui", Verdana, sans-serif;
  font-style: bold;
  font-size: 25px;
  color: white;
}


#h21 {
  background-color: #ef8354;
}


.images {
  width: 500px;
}

h3 {
  color: white;
  font-family: "Sergoe Ui", Verdana, sans-serif;
}

p {
  font-size: 16px;
  font-family: "Sergoe Ui", Verdana, sans-serif;
  color: white;
}

#span {
  font-weight: bold;
}

#h22 {
  background-color: #0e7c7b;
}

#h23 {
  background-color: #9c538b;
}

a {
  color: #ef8354;
}

a:hover {
  color: #9c528b;
}


footer {
  text-align: center
}